
@{
    ViewData["Title"] = "CascadeDropdown";
}


<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post">
                <div class="form-group">

                    <label>country</label>
                    <select class="form-control" id="Country">

                        <option> --select country-- </option>


                    </select> 

                    </div>

                    <br />
                    <br />


                <div class="form-group">

                    <label>City</label>
                    <select class="form-control" id="City">

                        <option>--select city--</option>


                    </select>

                </div>





                </form>
        </div>
             </div>
        </div>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/javascript.js"></script>